* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ACC8E5;
    color: #112A46;
}

#buttons a {
    text-decoration: none;
}

#buttons a button {
    width: 100px;
    height: 25px;
    margin: 5px;
}

hr {
    border: 1px dashed #112A46;
}

.heading {
    background-color: #112A46;
    color: white;
    text-shadow: 2px 2px grey;
    width: 100%;
}

.container {
    align-content: center;
    display: flexbox;
}

.img {
    float: left;
    margin: 5px 10px;
}

.img img {
    border-radius: 5%;
    width: 125px;
}

.txt {
    float: middle;
}

.shadow {
    text-shadow: 2px 2px rgb(128, 128, 128);
}

.tbl th, .tbl td {
    border: solid 1px #112A46;
}

table thead {
    background-color: #112A46;
    color: white;
}